/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

/* CSS Variables */
:root {
    /* Colors */
    --main-color: #0061aa;
    --secondary-color: #ee3b33;
    --grey-color: #5d737e;
    --bright-color: #F9F9F9;
    --text-color: #4a4a4a;
    /* Overlay */
    --dark-overlay: rgba(0, 0, 0, 0.7);
    /* Font Family */
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

/* Global */

label {
    font-family: var(--font-secondary);
    font-size: 1rem;
}

button {
    background-color: var(--main-color);
    color: var(--bright-color);
}

button a:hover {
	text-decoration:none;
}

.delete {
    background-color: var(--secondary-color);
}

button:hover {
    background-color: var(--secondary-color);
}

#formStyle {
    background-color: var(--bright-color);
}

/* Header */

.wrapper {
    background-color: var(--bright-color);
}

.wrapper h3 {
    font-family: var(--font-main);
    font-weight: 800;
    text-align: center;
    color: var(--secondary-color);
}

.wrapper h3 span {
    color: var(--main-color);
}

/* Table */

table{
    text-align: center;
}

th {
    font-family:var(--font-main);
    font-weight: 600;
		background-color:#fff;
}

td {
    font-family:var(--secondary-color);
		background-color:#fff;
}

/* Edit Database */



