
.navbar-nav{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
body {
    background-color: antiquewhite
}
.jumbotron{
  padding-top: 50px;
  background-color: transparent;
}
#h1text{
  text-align: center
}
.lead {
  text-align: center;
  font-size: 25px;
}
.dropdown-menu {
  font-size: 25px
}
#contact {
  font-size: 30px;
}
#text1 {
  font-size: 30px;
  padding-left: 9px;
}
#icon2 {
  margin-top: 20px;
  padding-left: 380px 
}
#icon1 {
  padding-left: 380px
}
#text2 {
  font-size: 30px;
  padding-left: 10px;
}
#footer{
  padding-right: 40px
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');


.nav-item a{
  font-family:var(--font-main);
  color:var(--link-color);
}

/* Icons */
.nav-item img {
  width:70px;
  height:50px;
}



