/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

/* CSS Variables */
:root {
    /* Colors */
    --main-color: #0061aa;
    --secondary-color: #ee3b33;
    --grey-color: #5d737e;
    --bright-color: #F9F9F9;
    --text-color: #4a4a4a;
    /* Overlay */
    --dark-overlay: rgba(0, 0, 0, 0.7);
    /* Font Family */
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

.navbar-nav {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    padding-top: 50px;
    background-color: transparent;
}

#h1text {
    text-align: center
}

.lead {
    text-align: center;
    font-size: 25px;
}

.dropdown-menu {
    font-size: 25px
}

#contact {
    font-size: 30px;
}

#icon2 {
    margin-top: 20px;
    padding-left: 380px
}

#icon1 {
    padding-left: 380px
}

#text2 {
    font-size: 30px;
    padding-left: 10px;
}

#footer {
    padding-right: 40px
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');


.nav-item a {
    font-family: var(--font-main);
    color: var(--link-color);
}

/* Icons */
.nav-item img {
    width: 70px;
    height: 50px;
}

/* Carousel */
.carousel {
   max-width:1200px;
   margin:0 auto;
   position: relative;
}

.carousel-inner {
    padding-top:170px;
}

.carousel-inner img {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.carousel-inner h1 {
    color:var(--bright-color);
    font-family:var(--font-main);
    font-weight:600;
    text-shadow: 3px 4px 3px rgba(0,0,0,0.3);
}

.carousel-inner p {
    font-family: var(--font-secondary);
}

.carousel a {
    text-decoration: none;
    color:var(--bright-color);
}

.carousel a:hover {
    color:var(--secondary-color);
    opacity:0.7;
    text-shadow: 3px 4px 3px rgba(0,0,0,0.3);
}

/* Jumbotron */
