/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

/* CSS Variables */
:root {
    /* Colors */
    --main-color: #0061aa;
    --secondary-color: #ee3b33;
    --grey-color: #5d737e;
    --bright-color: #F9F9F9;
    --text-color: #4a4a4a;
    /* Overlay */
    --dark-overlay: rgba(0, 0, 0, 0.2);
    /* Font Family */
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

/* Body */
body {
    background:url(../assets/food/pattern2.jpg);
    background-repeat: repeat-y;
}


/* Navigation */
.navbar {
    border-bottom:1px solid var(--bright-color);
    box-shadow: 2px -2px 2px 2px var(--dark-overlay);
}

.navbar-nav {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.nav-item a {
    font-family: var(--font-main);
    color: var(--link-color);
}

/* Icons */
.nav-item img {
    width: 70px;
    height: 50px;
}

/* Carousel */
.carousel {
   max-width:1300px;
   margin:0 auto;
}

.carousel ol {
    margin-bottom:50px;
}

.carousel-inner {
    padding-top:170px;
}

.carousel-inner img {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    width:100%;
    max-height:700px;
}

.carousel-inner h1 {
    color:var(--bright-color);
    font-family:var(--font-main);
    font-weight:600;
    text-shadow: 3px 4px 3px rgba(0,0,0,0.3);
}

.carousel-inner p {
    font-family: var(--font-secondary);
}

.carousel a {
    text-decoration: none;
    color:var(--bright-color);
    position: relative;
    display:inline-block
}

.carousel a::after {
    display:block;
    content:'';
    border-bottom:solid 1px var(--bright-color);
    transform:scaleX(0);
    transition:transform 250ms ease-in-out;
    transform-origin:100% 50%;
    -webkit-transform-origin: 100% 50%;
}

.carousel a:hover::after{
    transform:scaleX(1);
    transform-origin:0% 50%;
    -webkit-transform-origin: 0% 50%;
}

/* Jumbotron */
.jumbotron {
    background-color:var(--bright-color);
    border:1px solid var(--dark-overlay);
}

.jumbotron h1 {
    font-family:var(--font-main);
}

.jumbotron p:nth-child(2) {
    font-family:var(--font-secondary);
}

.jumbotron p:nth-child(4), p:nth-child(5) {
    color:var(--text-color);
}

.jumbotron a {
    background-color:var(--main-color);
    color:var(--bright-color);
}

.jumbotron a:hover {
    background-color:var(--secondary-color);
    color:var(--bright-color);
}

/* Footer */
footer {
    border-top:1px solid var(--dark-overlay);
    background-color:var(--bright-color);
}