<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cuisines</title>
		<meta charset="utf-8">
		<link href="css/cuisines.css" rel="stylesheet" type="text/css" />
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase-firestore.js"></script>
		<script src="js/comps.js"></script>
	</head>
	<body>
		<div id="cuisines">
			<h1>Restricted Area - Cuisines Database</h1>
		
			<p>Food Image URL:</p>
			<input type="text" id="food_image" v-model="food_image"/>

			<p>Food Name:</p>
			<input type="text" id="food_name" v-model="food_name"/>

			<p>Food Description:</p>
			<textarea id="food_desc" rows="10" cols="70" v-model="food_desc"></textarea>

			<p>Food Origin:</p>
			<input type="text" id="food_origin" v-model="food_origin"/>

			<p>Google Maps URL:</p>
			<input type="text" id="food_url" v-model="food_url"/>

			<p>Food Ingredients:</p>
			<table v-for="i in items">
				<tr>
					<td>1.</td>
					<td><input type="text" id="ing0" /></td>
				</tr>
				<ingredientList
					v-bind:item="i.ingNum"
					v-bind:item="i.ingField"
					></ingredientList>
			</table>
			<button v-on:click="addInputIng()">Add more field</button>

			<p>Food Recipes:</p>
			<table id="recipesList">
				<tr>
					<td>1.</td>
					<td><input type="text" id="rec0" /></td>
				</tr>
			</table>
			<button onclick="addInputRec()">Add more field</button>

			<br/><br/>
			<button v-on:click="saveButton">Save Data</button>
		
		</div>
		
		<script src="js/firestore_cuisine.js"></script>
	</body>
</html>